application.log
build
out
.idea
.gradle
.kotlin
.lwjgl
video/
screenshots/
gui-parameters/
ffmpegOutput.txt
ShaderError.glsl

# Spotify OAuth credentials and tokens
spotify.properties
spotify_token.json

